body {background-color: rgb(103, 129, 103);}

h1{
    color:darkgreen; background-color: lightblue;}

    h2{ color: darkred; font-family: verdana;}
    h3{color:red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;} 